@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-bg-main: #21242b;
  --color-bg-accent: #2c2f38;
  --color-text-primary: #efd6c0;
  --color-text-secondary: #5d5d5d;
  --color-button-primary: #f8682f;
  --color-button-secondary: #5d5d5d;
}

body {
  background: var(--color-bg-main);
  font-family: "Rubik", sans-serif;
}

main .main-article {
  text-align: center;
  margin-top: 90px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  main .main-article {
    margin-top: 40px;
  }
}
main .main-article .main-article__title {
  color: var(--color-text-primary);
  font-size: 64px;
  font-weight: 800;
}
@media (max-width: 1023px) {
  main .main-article .main-article__title {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  main .main-article .main-article__title {
    font-size: 32px;
    line-height: 1.2;
  }
}
main .main-article .main-article__subtitle {
  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 767px) {
  main .main-article .main-article__subtitle {
    padding: 0 10px;
  }
}
main .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
  padding: 0 20px;
}
@media (max-width: 1023px) {
  main .filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 767px) {
  main .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    padding: 0 15px;
  }
}
main .filters .filters__content:first-child {
  margin-right: 100px;
}
@media (max-width: 1279px) {
  main .filters .filters__content:first-child {
    margin-right: 50px;
  }
}
@media (max-width: 1023px) {
  main .filters .filters__content:first-child {
    margin-right: 0 !important;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  main .filters .filters__content:first-child {
    margin-bottom: 30px;
  }
}
main .filters .filters__content .filters__title {
  color: var(--color-text-primary);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (max-width: 1023px) {
  main .filters .filters__content {
    width: 45%;
  }
}
@media (max-width: 767px) {
  main .filters .filters__content {
    width: 100%;
  }
}
main .filters .filters__selection {
  border-radius: 20px;
  background: var(--color-bg-accent);
  padding: 25px 15px;
  width: 530px;
  position: relative;
}
@media (max-width: 1279px) {
  main .filters .filters__selection {
    width: 480px;
  }
}
@media (max-width: 1023px) {
  main .filters .filters__selection {
    width: 100%;
  }
}
@media (max-width: 767px) {
  main .filters .filters__selection {
    padding: 15px 5px;
    width: 100%;
  }
}
main .filters .filters__selection .image-checkbox {
  cursor: pointer;
}
@media (max-width: 767px) {
  main .filters .filters__selection .image-checkbox {
    margin: 0 3px;
  }
}
main .filters .filters__selection .image-checkbox input[type=checkbox] {
  display: none;
}
main .filters .filters__selection .image-checkbox input[type=checkbox]:checked + iconify-icon {
  color: var(--color-button-primary);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .filters .filters__selection .image-checkbox input[type=checkbox]:checked + iconify-icon::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--color-button-primary);
  border-radius: 10px 10px 0px 0px;
}
main .filters .filters__selection .image-checkbox iconify-icon {
  margin: 0 15px;
  color: var(--color-button-secondary);
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  border: 3px solid transparent;
}
@media (max-width: 767px) {
  main .filters .filters__selection .image-checkbox iconify-icon {
    width: 40px !important;
    height: 40px !important;
    margin: 0 8px;
  }
}
main .filters .filters__selection .image-checkbox iconify-icon:hover {
  color: var(--color-text-primary);
}
main .filters__generate-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto 0;
  border-radius: 20px;
  background: var(--color-button-primary);
  border: none;
  color: var(--color-text-primary);
  font-size: 20px;
  font-weight: 500;
  padding: 12px 50px;
  font-family: "Rubik";
  cursor: pointer;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}
@media (max-width: 1023px) {
  main .filters__generate-button {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  main .filters__generate-button {
    width: 90%;
    padding: 12px 20px;
    font-size: 18px;
  }
}
main .filters__generate-button iconify-icon {
  text-align: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-bottom: 20px;
}
main .filters__generate-button:hover {
  color: var(--color-button-primary);
  background: var(--color-text-primary);
}
main .agent-list {
  max-width: 1400px;
  margin: 120px auto 0;
  padding: 0 20px;
}
@media (max-width: 1023px) {
  main .agent-list {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  main .agent-list {
    margin: 40px auto 0;
    padding: 0 15px;
    width: 100%;
  }
}
main .agent-list .agent-list__title {
  color: var(--color-text-primary);
  font-size: 36px;
  font-weight: 600;
}
main .agent-list .agent-list__container {
  background: var(--color-bg-accent);
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px 0;
}
@media (max-width: 767px) {
  main .agent-list .agent-list__container {
    padding: 10px 0;
  }
}
main .agent-list .agent-list__container .agent-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 60px;
  color: var(--color-text-primary);
  font-size: 15px;
  font-weight: 400;
}
@media (max-width: 1023px) {
  main .agent-list .agent-list__container .agent-list__item {
    padding: 20px 30px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  main .agent-list .agent-list__container .agent-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
    text-align: center;
  }
}
main .agent-list .agent-list__container .agent-list__item .agent-list__copy-button {
  cursor: pointer;
  text-align: center;
  background: var(--color-button-primary);
  border: none;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  main .agent-list .agent-list__container .agent-list__item .agent-list__copy-button {
    margin-top: 10px;
    margin-left: 0;
  }
}
main .agent-list .agent-list__container .agent-list__item .agent-list__copy-button iconify-icon {
  color: var(--color-text-primary);
}

footer {
  position: relative;
  height: 120px;
}
@media (max-width: 767px) {
  footer {
    height: auto;
    padding: 20px;
  }
}
footer .footer__contacts {
  color: #5d5d5d;
  font-weight: 300;
  text-align: center;
  position: absolute;
  bottom: calc((1vw + 1vh) * -5);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 767px) {
  footer .footer__contacts {
    position: static;
    -webkit-transform: none;
            transform: none;
    font-size: 14px;
    padding: 20px 0;
  }
}

/* Особые случаи */
@media (max-width: 374px) {
  .image-checkbox iconify-icon {
    width: 35px !important;
    height: 35px !important;
    margin: 0 2px !important;
  }
  .filters__generate-button {
    font-size: 16px;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .main-article {
    margin-top: 20px;
  }
  .filters {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
  .filters__content {
    width: 48%;
    margin-bottom: 20px;
  }
}